<h1
  class="title my-3"
  style="display: flex; align-items: center; justify-content: center"
>
  Gerichte bearbeiten
</h1>
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-5">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="gerichtName"
          name="gerichtName"
          [(ngModel)]="name"
        />
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="preis"
          name="preis"
          [(ngModel)]="price"
        />
        <label for="floatingInput">Preis</label>
      </div>
      <div class="form-floating mb-3">
        <textarea
          type="text"
          class="form-control"
          id="beschreibung"
          name="beschreibung"
          [(ngModel)]="description"
          style="height: 100px"
        ></textarea>
        <label for="floatingInput">Beschreibung</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="bild"
          name="bild"
          [(ngModel)]="pictureLink"
        />
        <label for="floatingInput">Bild URL</label>
      </div>
      <button class="btn btn-primary mt-4" type="submit" (click)="addDish()">
        Hinzufügen
      </button>
    </div>
    <div class="col card-group">
      <div *ngFor="let dish of dishList" class="mx-2">
        <app-dish-card
          [name]="dish.name"
          [price]="dish.price"
          [description]="dish.description"
          [pictureLink]="dish.pictureLink"
        >
          ></app-dish-card
        >
        <button
          type="button"
          class="btn btn-danger mb-4 mt-2"
          (click)="deleteDish(dish)"
        >
          Löschen
        </button>
      </div>
    </div>
  </div>
</div>
