<nav
  class="navbar navbar-expand-lg bg-body-tertiary"
  style="background-color: #ffcc00"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/hamburger.png" alt="Bootstrap" width="40" height="40" />
    </a>

    <a class="navbar-brand" href="#">Best Burger</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item px-1" *ngIf="role == 'user'">Bestellen</li>
        <li class="nav-item px-1" routerLink="/sign-out" *ngIf="role == 'user'">
          Logout
        </li>
        <li
          class="nav-item px-1"
          routerLink="/manage-dishes"
          *ngIf="role == 'admin'"
        >
          Gerichte Bearbeiten
        </li>
        <li class="nav-item px-1" routerLink="/login" *ngIf="role == 'admin'">
          Dashboard
        </li>
        <li class="nav-item px-1" routerLink="/login" *ngIf="role == 'noRole'">
          Dashboard
        </li>
      </ul>
    </div>
  </div>
</nav>
