<div style="display: flex; align-items: center; justify-content: center">
  <h1>Bestellen</h1>
</div>

<div class="container-fluid py-4">
  <div class="row">
    <div class="col card-group">
      <div *ngFor="let dish of items" class="mx-2">
        <app-dish-card
          [name]="dish.name"
          [price]="dish.price"
          [description]="dish.description"
          [pictureLink]="dish.pictureLink"
        >
          ></app-dish-card
        >
      </div>
    </div>
    <div class="my-3">
      <div class="row">
        <div class="col-3"></div>
        <div class="col mb-2">
          <h3>Bitte geben Sie Ihre gewünschte Abhohlzeit ein</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-2 ms-3">
          <button
            type="button"
            class="btn btn-primary mb-4 mt-2"
            (click)="buy()"
          >
            Hinzufügen
          </button>
        </div>

        <div class="input-group mb-3 col">
          <input type="date" class="form-control" [(ngModel)]="date" />
          <input type="time" class="form-control" [(ngModel)]="time" />
        </div>
      </div>
    </div>
  </div>
</div>
