<h1>Übersicht</h1>
<div class="container-fluid py-4">
  <div class="row">
    <div class="col card-group">
      <div *ngFor="let dish of items" class="mx-2">
        <app-dish-card
          [name]="dish.name"
          [price]="dish.price"
          [description]="dish.description"
          [pictureLink]="dish.pictureLink"
        >
          ></app-dish-card
        >
      </div>
    </div>
    <div class="row">
      <div class="col-2 ms-3">
        <button type="button" class="btn btn-primary mb-4 mt-2" (click)="buy()">
          Hinzufügen
        </button>
      </div>

      <div class="input-group mb-3 col">
        <input type="date" class="form-control" [(ngModel)]="date" />
        <input type="time" class="form-control" [(ngModel)]="time" />
      </div>
    </div>
  </div>
</div>
