<h1>Dashboard: Aktuelle Bestellungen</h1>
<div class="container-fluid py-4">
    <div class="col card-group">
        <div *ngFor="let ordered of orderedList" class="mx-2"></div>
            <app-ordered-card

            >
            </app-ordered-card>
    </div>
    <app-ordered-card></app-ordered-card>
</div>
<!--
            [email]="ordered.email"
            [orderTime]="ordered.orderTime"
            [orderedDishes]="ordered.orderedDishes"
            [pickupTime]="ordered.pickupTime"
            [totalPrice]="ordered.totalPrice"
-->