<h1>Dashboard: Aktuelle Bestellungen</h1>
<div class="container-fluid py-4">
    
    <div class="col card-group">
        <div *ngFor="let ordered of orderedList" class="mx-2">
            <app-ordered-card
                [email]="ordered.email"
                [orderTime]="ordered.orderTime"
                
                [pickupTime]="ordered.pickupTime"
                [totalPrice]="ordered.totalPrice"
            >
            </app-ordered-card>
                <button
                type="button"
                class="btn btn-secondary mb-4 mt-2"
                >Akzeptieren
                </button>

                <button
                type="button"
                class="btn btn-danger mb-4 mt-2"
                (click)="deleteOrdered(ordered)"
                >Löschen
                </button>
        </div>
    </div>
</div>
<!--
            [email]="ordered.email"
            [orderTime]="ordered.orderTime"
            [orderedDishes]="ordered.orderedDishes"
            [pickupTime]="ordered.pickupTime"
            [totalPrice]="ordered.totalPrice"
-->

<!-- <div class="row row-cols-2">
    <button
        type="button"
        class="btn btn-outline-secondary mt-2"
    >
    accept/decline
    </button>
    <button
        type="button"
        class="btn btn-danger mt-2"
    >
    delete
    </button>
</div> -->