<h1
  class="title my-3"
  style="display: flex; align-items: center; justify-content: center"
>
  Dashboard
</h1>
<div *ngFor="let order of orderList">
  <app-user-orderview
    class="mx-2"
    [email]="order.email"
    [orderTime]="order.orderTime"
    [pickupTime]="order.pickupTime"
    [orderedDishes]="order.orderedDishes"
    [totalPrice]="order.totalPrice"
    [status]="order.status"
  ></app-user-orderview>
  <div class="row">
    <div class="col-3"></div>
    <div class="col">
      <button type="button" class="btn btn-danger" (click)="deleteOrder(order)">
        Löschen
      </button>
      <button
        type="button"
        class="btn btn-outline-info"
        (click)="statusRejected(order)"
      >
        Status: Abgelehnt
      </button>
      <button
        type="button"
        class="btn btn-outline-info"
        (click)="statusWorkedOn(order)"
      >
        In Bearbeitung
      </button>
      <button
        type="button"
        class="btn btn-outline-info"
        (click)="statusReady(order)"
      >
        Fertig zur Abholung
      </button>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row my-3">
    <div class="col-3"></div>
    <div class="col">
      <input type="date" class="form-control" [(ngModel)]="date" />
      <input type="time" class="form-control" [(ngModel)]="time" />
      <button
        type="button"
        class="btn btn-outline-info"
        (click)="updatePickUpTime(order)"
      >
        Zeit anpassen
      </button>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<div *ngIf="">Keine Bestellungen</div>
